.app {
  display: grid;
  min-height: 50vh;
  grid-template-rows: auto 1fr auto;
  max-width: 368px;
  margin: 0 auto;
  gap: 32px;
}

h1 {
  display: flex;
  justify-content: space-around;
  background-color: #f6f;
}
